.cashier-item-page-container {
    width: 250px;
    height: 150px;
    margin: 10px;
    background-color: #dddada;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cashier-item-page-container:hover {
    box-shadow: 0 0 10px 0 #000000;
    cursor: pointer;
}

.cashier-item-page-card-image {
    width: 100px;
    height: 100px;
    margin: 0px;
}

.cashier-item-page-card-title {
    font-weight: bold;
    font-size: medium;
    color: #e32d2d;
    text-align: center;
    margin: 0px;
    text-wrap: wrap;
}
