.cashier-header-bar {
    display: flex;
    justify-content: right;
    background-color: #D61927;
    color: white;
}

.cashier-header-button:hover {
    background-color: #3700ff;
}

.cashier-header-button {
    background-color: #a50611;
    color: white;
    border: none;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    height: 40px;
}

.cashier-content-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cashier-receipt{
    margin: 40px 40px 40px 100px;
}


