.cashier-header-bar {
    display: flex;
    justify-content: right;
    background-color: #D61927;
    color: white;
}

.cashier-header-button:hover, .cashier-header-button:focus {
    box-shadow: 0 0 20px 0 #000000;
}

.cashier-header-button {
    margin: 8px;
    padding: 8px 15px;
    background-color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #D61927;
    width: auto;
    font-size: 25px;
    font-weight: bold;
}

.cashier-content-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cashier-receipt{
    margin: 40px 40px 40px 100px;
}


