.header-bar {
    display: flex;
    justify-content: flex-end;
    background-color: #D61927;
    padding: 10px;
    color: white;
}

.buttons {
    display: flex;
    gap: 10px;
}

.submit-button {
    background-color: #a50611;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #3700ff;
}

.delete-button {
    background-color: #a50611;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #3700ff;
}

.clock-button {
    background-color: #a50611;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.clock-button:hover {
    background-color: #3700ff;
}

.cashier-content-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.cashier-receipt{
    margin: 40px 40px 40px 100px;
}


