#total-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#total-content {
    display: flex;
    flex-direction: column;
}

#menu-item-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#all-buttons{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
}

.menu-item-button {
    padding: 8px;
    margin: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #D61927;
    width: auto;
    font-size: 15px;
    font-weight: bold;
    align-self: flex-end;
}