#board-container{
    background-color: #dddada;
    margin-top: -41px;
    padding: 50px;
}

.board-generic{
    width: 94%;
    height: 1300px;
    align-self: center;
    justify-self: center;
    border-radius: 5px;
    background-color: #ffffff;
    margin-top: 3%;
    padding-bottom: 3%;
    padding-top: 3%;
}

.header-generic{
    font-size: 100px;
    font-weight: 100;
    color: #D61927;
    font-family: sans-serif;
    justify-self: center;
}

.option-generic{
    margin-top: 40px;
    margin-left: 150px;
    margin-bottom: 30px;
}

.option-titles{
    font-size: 40px;
    font-weight: 100;
    color: #D61927;
    font-family: sans-serif;
}

.calories-count{
    margin-left: 20px;
    font-size: 35px;
    font-family: sans-serif;
    color:#5c5c5c;
}

.cal{
    margin-left: 5px;
    font-size: 20px;
    font-family: sans-serif;
    color:#5c5c5c;
}

.price{
    float: right;
    margin-right: 150px;
    font-family: sans-serif;
    font-size: 40px;
}

.starting-at{
    float: right;
    font-family: sans-serif;
    font-size: 15px;
    margin-right: 20px;
}

