#pie-container {
    width: 400px;
}

#trends-title {
    padding: 10px;
}

#order-trends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#refresh-chart-btn {
    padding: 3px;
    margin: 5px;
    background-color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #D61927;
    width: 110px;
    font-size: 15px;
    font-weight: bold;
    align-self: flex-end;
}

#refresh-chart-btn:hover, #refresh-chart-btn:focus {
    box-shadow: 0 0 20px 0 #000000;
    outline: none;
}

