.item-page-container {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: #dddada;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: .2s;
}

.item-page-container:hover, .item-page-container:focus {
    box-shadow: 0 0 10px 0 #000000;
}

.item-page-card-image {

    width: 220px;
    height: 150px;
    margin: 0px;
    padding-bottom: 140px;
    position: absolute;
}

.item-page-card-title {
    font-weight: bold;
    color: #D61927;
    text-align: center;
    margin: 10px;
    margin-top: 60px;
    text-wrap: wrap;
    position: relative;
}

.item-allergens {
    font-size: 12.5px;
}
