.extra-space {
    margin-top: 35px;
}
.item-page-type-container {
    margin: 30px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 10px;
}

.item-page-title{
    font-weight: bold;
    color: #D61927;
    margin-left: 125px;
}

.item-page-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #D61927;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-type{
    color: #FFFFFF;
    font-size: 40px;
    margin-left: 20px;
}

.footer-type-info{
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 20px;
}

.extra-bottom-space {
    padding-bottom: 120px;
}

.footer-button-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}