.add-to-order-button{
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #e32d2d;
    width: 160px;
}

.add-to-order-button:hover, .add-to-order-button:focus{
    text-decoration: bold;
    box-shadow: 0 0 20px 0 black;
    outline: solid;
    outline-width: 0;
}