.add-to-order-button{
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #D61927;
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}

.add-to-order-button:hover, .add-to-order-button:focus{
    box-shadow: 0 0 20px 0 #000000;
}