#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #e32d2d;
    height: 100px;
}

#header-title {
    font-size: 30px;
    color: #ffffff;
}

#header-button {
    background-color: #ffffff;
    width: auto;
    border-radius: 20px;
    border: none;
    transition: box-shadow .2s;
}

#header-button:hover, #header-button:focus {
    cursor: pointer;
    box-shadow: 0 0 20px 0 #000000;
    outline: solid;
    outline-width: 0;
}

.header-button-title {
    color: #e32d2d;
    padding: 10px 25px;
}
