#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    background-color: #e32d2d;
    height: 100px;
}

#header-title {
    font-size: 30px;
    color: white;
}

#header-button {
    background-color: #fff;
    width: auto;
    border-radius: 20px;
    border: none;
}

#header-button:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 black;
}

.header-button-title {
    color: #e32d2d;
    padding: 10px 25px;
}
