#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 20px;
    padding-bottom: 5px;
    background-color: #D61927;
    height: 100px;
}

#header-title {
    font-size: 30px;
    color: #ffffff;
}

#buttons-header{
    display: flex;
    gap: 20px;
}

#header-button {
    background-color: #ffffff;
    width: auto;
    padding: 3px 20px;
    border-radius: 8px;
    transition: box-shadow .2s;
}

#header-button:hover, #header-button:focus {
    cursor: pointer;
    box-shadow: 0 0 20px 0 #000000;
    outline: solid;
    outline-width: 0;
}

.button-title {
    color: #D61927;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
}