#employee-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    margin: 15px;
    background-color: #FFFFFF;
    border-radius: 7px;
}

#employee-name {
    padding: 5px;
    font-size: 17px;
    font-weight: 550;

}