#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D61927;
    height: 75px;
}

.nav-btn {
    padding: 15px 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #D61927;
    width: auto;
    font-size: 20px;
    font-weight: bold;
}
    
.nav-btn-text {
    font-size: 20px;
    color: #D61927;
}