.item-card-container {
    width: 300px;
    height: 300px;
    margin: 10px;
    background-color: #dddada;
    border-width: 0;
    border-radius: 10px;
    transition: .2s;
    cursor: pointer;
}

.item-card-container:hover, .item-card-container:focus {
    box-shadow: 0 0 10px 0 #000000;
    outline: none;
}

.item-card-image {
    width: auto;
    height: 150px;
    margin: 10px;
}

.item-card-title {
    font-weight: bold;
    color: #D61927;
    text-align: center;
    margin: 5px;
    text-wrap: wrap;
}
