.order-more-button, .place-order-button, .clear-cart-button, .remove-combo-button{
    margin: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #D61927;
    width: auto;
}

.my-bag-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 100px;
}

.my-bag-title{
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.items-container{
    margin-left: 10px;
}

.order-layout{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-container{
    display: flex;
    margin: 5px;
}

.order-items{
    margin-left: 10px;
}

.button-text, .header-button-title {
    font-size: 20px;
    font-weight: bold;
}

.allergies-container{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.allergies-title{
    font-weight: bold;
    margin: 10px;
    width: 550px;
}

.allergies-direction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.popup-total-container {
    width: 500px;
    height: 300px;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    border: 2px solid #D61927;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.allergy-popup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.allergies-container-popup{
    
    text-align: center;
}