* {
    margin: 0;
    padding: 0;
}

/* #google_translate_element select {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
} */
