.back-to-menu-button2{
    margin: 20px;
    padding: 10px;
    background-color: #f8f8f8;
    border: 1px solid #e32d2d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #e32d2d;
}

.back-to-menu-button2:hover{
    border: 3px solid white;
    text-decoration: bold;
    box-shadow: 0 0 10px 0 black;
}