.header-bar {
    height: 5vh;
    background-color: #D61927;
}

.main-content, .signInButton {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

#label {
    color:#D61927;
    margin-top: 100px;
    font-size: 100px;
    font-weight: bolder;
    border: none;
}


.pos-button, .cashier-button, .manager-button, .back-button {
    padding: 20px;
    margin: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #D61927;
    width: auto;
    font-size: 40px;
    font-weight: bold;
}

.oauth-button {
    transform: scale(2);
    border-radius: 5px;
}
