.notranslate {
    translate: no !important; /* Prevent browser translation plugins from affecting it */
}

.translate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #D61927;
    padding: 5px;
}


.translate-button, .reset-button, .zoom-btn, select{
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #D61927;
    width: auto;
    font-size: 15px;
    font-weight: bold;
}

.translate-button:hover, select:hover, .reset-button:hover, .translate-button:focus, select:focus, .reset-button:focus, .zoom-btn:hover {
    box-shadow: 0 0 10px 0 #000000;
    outline: none;
}

#dropdown-title{
    color: #FFFFFF;
        
}

.zoom-btn {
    margin-left: 15px;
}
