.notranslate {
    translate: no !important; /* Prevent browser translation plugins from affecting it */
}

.translate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #D61927;
    padding: 5px;
}


.translate-button, .reset-button, .notranslate{
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    color: #D61927;
    width: auto;
    font-size: 15px;
    font-weight: bold;
}

#dropdown-title{
    color: #FFFFFF;
}