.label-field {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;

}

#option-select {
    padding: 10px;
    border-radius: 10px;
    transition: .2s;
}

label {
    font-weight: bold;
    font-size: 23px;
    padding: 7px;
}

input {
    border-radius: 5px;
    padding: 10px;
}