#add-employee-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#add-employee-header-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 98%;
    padding-top: 25px;
    padding-bottom: 25px;
    justify-items: center;
}

#back-btn {
    font-weight: 600;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
    justify-self: right;
}

#back-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #000000;
}

#add-employee-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D3D3D3;
    width: 700px;
    padding: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
}

.employee-form-field {
    padding: 15px;
}

#submit-btn {
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
}

#submit-btn:hover {
    cursor: pointer;
    box-shadow: 0 0 10px 0 #D61927;
    background-color: #D61927;
}

.input-container {
    height: 40px;
    width: 350px;
    font-size: 17px;
    padding-left: 10px;
    border-radius: 5px;
}